name: Backend deploy in EC2

on:
  push:
    branches: [main]
    paths:
      - "backend/**"
      - ".github/workflows/backend-deploy.yml"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # 1. Build and Push Backend Image
      - name: Build and Push Backend Image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: abhi5hek001/buykart-backend:latest

      - name: Set up SSH for EC2
        uses: webfactory/ssh-agent@v0.8.0
        with:
          ssh-private-key: ${{ secrets.EC2_SSH_KEY }}

      # 2. Execute Deployment Script on EC2
      - name: Deploy on EC2
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.EC2_USERNAME }}@${{ secrets.EC2_HOST }} << 'EOF'
          echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

          # 1. Create a network (better than --link)
          docker network create buykart-network 2>/dev/null || true

          # 2. Stop and remove old containers
          docker rm -f dev dev-redis 2>/dev/null || true
              
          # 3. Start Redis
          docker run -d --name dev-redis --network buykart-network --restart always -p 6379:6379 redis:alpine

          # 4. Pull and Start Backend
          docker pull abhi5hek001/buykart-backend:latest
          docker run -d \
            --name dev \
            --network buykart-network \
            --restart always \
            --env-file /home/${{ secrets.EC2_USERNAME }}/dev/.env \
            -p 3000:3000 \
            abhi5hek001/buykart-backend:latest

          # 5. CLEANUP: Delete all unused/dangling images
          docker image prune -af
          EOF